HotelManagement.Web/Service References/UserTypeService/UserTypeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50373/UserTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUserTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTypeDTO" nillable="true" type="tns:UserTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTypeDTO" nillable="true" type="tns:ArrayOfUserTypeDTO" />
  <xs:complexType name="UserTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeDTO" nillable="true" type="tns:UserTypeDTO" />
  <xs:simpleType name="UserTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserTypeEnum" nillable="true" type="tns:UserTypeEnum" />
</xs:schema>