HotelManagement.Web/Service References/HotelChainService/HotelChainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelChainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50373/HotelChainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50373/HotelChainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50373/HotelChainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelChainService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_GetHotelChain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelChain" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_GetHotelChain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelChainResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IHotelChainService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelChainService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelChainService/GetAll" message="tns:IHotelChainService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelChainService/GetAllResponse" message="tns:IHotelChainService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotelChain">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelChainService/GetHotelChain" message="tns:IHotelChainService_GetHotelChain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelChainService/GetHotelChainResponse" message="tns:IHotelChainService_GetHotelChain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelChainService/Save" message="tns:IHotelChainService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelChainService/SaveResponse" message="tns:IHotelChainService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelChainService/Delete" message="tns:IHotelChainService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelChainService/DeleteResponse" message="tns:IHotelChainService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelChainService" type="tns:IHotelChainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IHotelChainService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotelChain">
      <soap:operation soapAction="http://tempuri.org/IHotelChainService/GetHotelChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IHotelChainService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IHotelChainService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelChainService">
    <wsdl:port name="BasicHttpBinding_IHotelChainService" binding="tns:BasicHttpBinding_IHotelChainService">
      <soap:address location="http://localhost:50373/HotelChainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>