HotelManagement.Web/Service References/HotelChainService/HotelChainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelChainDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelChainDTO" nillable="true" type="tns:HotelChainDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelChainDTO" nillable="true" type="tns:ArrayOfHotelChainDTO" />
  <xs:complexType name="HotelChainDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelChainDTO" nillable="true" type="tns:HotelChainDTO" />
</xs:schema>