HotelManagement.Web/Service References/MenuService/MenuService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuDTO" nillable="true" type="tns:MenuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuDTO" nillable="true" type="tns:ArrayOfMenuDTO" />
  <xs:complexType name="MenuDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuDTO" nillable="true" type="tns:MenuDTO" />
</xs:schema>