HotelManagement.Web/Service References/BookingDetailService/BookingDetailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingDetailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50373/BookingDetailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50373/BookingDetailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50373/BookingDetailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelManagement.ServiceApp.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingDetailService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_GetBookingDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingDetail" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_GetBookingDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBookingDetailService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingDetailService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingDetailService/GetAll" message="tns:IBookingDetailService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingDetailService/GetAllResponse" message="tns:IBookingDetailService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingDetailService/GetBookingDetail" message="tns:IBookingDetailService_GetBookingDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingDetailService/GetBookingDetailResponse" message="tns:IBookingDetailService_GetBookingDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingDetailService/Save" message="tns:IBookingDetailService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingDetailService/SaveResponse" message="tns:IBookingDetailService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingDetailService/Delete" message="tns:IBookingDetailService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingDetailService/DeleteResponse" message="tns:IBookingDetailService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookingDetailService" type="tns:IBookingDetailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IBookingDetailService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingDetail">
      <soap:operation soapAction="http://tempuri.org/IBookingDetailService/GetBookingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBookingDetailService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBookingDetailService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingDetailService">
    <wsdl:port name="BasicHttpBinding_IBookingDetailService" binding="tns:BasicHttpBinding_IBookingDetailService">
      <soap:address location="http://localhost:50373/BookingDetailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>