HotelManagement.Web/Service References/BookingDetailService/BookingDetailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelManagement.ServiceApp.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelManagement.ServiceApp.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookingDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingDetailDTO" nillable="true" type="tns:BookingDetailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingDetailDTO" nillable="true" type="tns:ArrayOfBookingDetailDTO" />
  <xs:complexType name="BookingDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingDTO" nillable="true" type="tns:BookingDTO" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RoomDTO" nillable="true" type="tns:RoomDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingDetailDTO" nillable="true" type="tns:BookingDetailDTO" />
  <xs:complexType name="BookingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingDTO" nillable="true" type="tns:BookingDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="tns:UserTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="UserTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeDTO" nillable="true" type="tns:UserTypeDTO" />
  <xs:complexType name="RoomDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="HotelDTO" nillable="true" type="tns:HotelDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomTypeDTO" nillable="true" type="tns:RoomTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomDTO" nillable="true" type="tns:RoomDTO" />
  <xs:complexType name="HotelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelChainDTO" nillable="true" type="tns:HotelChainDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InOperation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelDTO" nillable="true" type="tns:HotelDTO" />
  <xs:complexType name="HotelChainDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelChainDTO" nillable="true" type="tns:HotelChainDTO" />
  <xs:complexType name="RoomTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaxOccupants" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomTypeDTO" nillable="true" type="tns:RoomTypeDTO" />
</xs:schema>