HotelManagement.Web/Service References/RoomTypeService/RoomTypeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoomTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomTypeDTO" nillable="true" type="tns:RoomTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomTypeDTO" nillable="true" type="tns:ArrayOfRoomTypeDTO" />
  <xs:complexType name="RoomTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaxOccupants" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomTypeDTO" nillable="true" type="tns:RoomTypeDTO" />
</xs:schema>