HotelManagement.Web/Service References/RoomTypeService/RoomTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomTypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50373/RoomTypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50373/RoomTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50373/RoomTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelManagement.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomTypeService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_GetRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_GetRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRoomTypeService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomTypeService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomTypeService/GetAll" message="tns:IRoomTypeService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomTypeService/GetAllResponse" message="tns:IRoomTypeService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomTypeService/GetRoom" message="tns:IRoomTypeService_GetRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomTypeService/GetRoomResponse" message="tns:IRoomTypeService_GetRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomTypeService/Save" message="tns:IRoomTypeService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomTypeService/SaveResponse" message="tns:IRoomTypeService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomTypeService/Delete" message="tns:IRoomTypeService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomTypeService/DeleteResponse" message="tns:IRoomTypeService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomTypeService" type="tns:IRoomTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IRoomTypeService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomTypeService/GetRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IRoomTypeService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IRoomTypeService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomTypeService">
    <wsdl:port name="BasicHttpBinding_IRoomTypeService" binding="tns:BasicHttpBinding_IRoomTypeService">
      <soap:address location="http://localhost:50373/RoomTypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>